@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>
<p>My contact information:</p>
<ul>
    <li>Email: l.g@example.com</li>
    <li>Phone: (070) 123-4321</li>
</ul>
