@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<ul>
    <li>
        <a href="https://github.com/Devflasher293/hangman.git">Project 1: Hangman</a>
        <p>This is a project made in c#,  its a simple hangman game.</p>
    </li>
    <li>
        <a href="https://github.com/Devflasher293/VendingMachine.git">Project 2: Vending Machine</a>
        <p>This is a group project made in c# as an assignement from lexicon, its a vending machine consoleApp</p>
        
    </li>
</ul>
